################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/rpp24-dcernjevi21-evalec21-fkundih21
